:root {
	--c-primary-500: hsl(0, 0%, 100%);
	--c-primary-600: hsl(0, 0%, 90%);
	--c-primary-700: hsl(0, 0%, 80%);
	--c-secondary-500: hsl(39, 63%, 50%);
	--c-secondary-600: hsl(39, 63%, 60%);
	--c-secondary-700: hsl(39, 63%, 70%);
	--tile-size: 3.3rem;
	--grid-gap: 0.2rem;
}
body {
	background-color: #eee;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: system-ui;
	gap: 1rem;
	padding: 0 0.5rem;
}
/* || Board / Game */
.container {
	display: grid;
	place-items: center;
}
.grid {
	gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(var(--w), 1fr);
	grid-template-rows: repeat(var(--h), 1fr);
	width: fit-content;
}
.tile {
	position: relative;
	width: var(--tile-size);
	height: var(--tile-size);
	float: left;
	perspective: 500px;
}
.tile .content {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	transition: rotate 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
}
.tile.flipped .content {
	rotate: y 180deg;
	transition: rotate 1s;
}
.tile.jumpOut .content {
	animation: jumpOut ease-in-out 500ms;
	z-index: 1;
}
.tile.jumpUp .content {
	animation: jumpUp ease-in-out 700ms;
}
.tile .content .front,
.tile .content .back {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	border-radius: 0.3rem;
	backface-visibility: hidden;
	display: grid;
	place-content: center;
	font-size: xxx-large;
	font-weight: bold;
	user-select: none;
	transform-style: preserve-3d;
	display: grid;
	place-content: center;
	font-size: calc(var(--tile-size) - 1rem);
}
.tile .content .front {
	background: var(--c-secondary-500);
	color: var(--c-primary-500);
}
.tile .content .back {
	background: var(--c-primary-500);
	color: var(--c-secondary-500);
	rotate: y 180deg;
}
@keyframes jumpOut {
	from {
		translate: 0 0 0;
	}
	50% {
		translate: 0 0 3rem;
	}
	to {
		translate: 0 0 0;
	}
}
@keyframes jumpUp {
	from {
		translate: 0 0;
	}
	50% {
		translate: 0 -1rem;
	}
	to {
		translate: 0 0;
	}
}

/* || UI */
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.info :where(h1, h2) {
	border-bottom: 1px solid black;
	width: 100%;
	margin-bottom: 0;
}
.info :where(h1, h2) span {
	padding-left: 1rem;
}
.gameDisplays {
	display: flex;
	font-size: 2rem;
	margin: 0.5rem 1rem 2rem 1rem;
	gap: 3rem;
	align-items: center;
}
.gameDisplays > * {
	margin: 0;
}
.controlsList {
	padding-left: 1rem;
}
.note {
	font-size: 0.9rem;
	margin: 0;
}
.info button,
.customInputs label {
	font-size: 1.3rem;
	border: none;
	border-radius: 0.3rem;
	margin-top: 0.5rem;
	padding: 0 1rem;
	background-color: var(--c-secondary-500);
	cursor: pointer;
}
.difficulty span {
	display: inline-block;
	width: 6rem;
}
.customInputs {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	padding: 0.2rem 0;
}
.customInputs label {
	padding-right: 0;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.customInputs label[aria-disabled='true'] {
	pointer-events: none;
	opacity: 0.7;
}
.customInputs input {
	width: 5rem;
}
