:root {
	--c-primary-500: hsl(0, 0%, 100%);
	--c-primary-600: hsl(0, 0%, 90%);
	--c-primary-700: hsl(0, 0%, 80%);
	--c-secondary-500: hsl(39, 63%, 50%);
	--c-secondary-600: hsl(39, 63%, 60%);
	--c-secondary-700: hsl(39, 63%, 70%);
}
body {
	background-color: #eee;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 100vh;
}
.grid {
	gap: 0.2rem;
	display: grid;
	grid-template-columns: repeat(var(--w), 1fr);
	grid-template-rows: repeat(var(--h), 1fr);
	width: fit-content;
}
.tile {
	--size: 3.3rem;
	position: relative;
	width: var(--size);
	height: var(--size);
	float: left;
	perspective: 500px;
}
.tile .content {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	transition: transform 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
}
.tile.flipped .content {
	transform: rotateY(180deg);
	transition: transform 1s;
}
.tile .content .front,
.tile .content .back {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	border-radius: 0.3rem;
	backface-visibility: hidden;
	display: grid;
	place-content: center;
	font-size: xxx-large;
	font-weight: bold;
	user-select: none;
	transform-style: preserve-3d;
	display: grid;
	place-content: center;
	font-size: calc(var(--size) - 1rem);
}
.tile .content .front {
	background: var(--c-secondary-500);
	color: var(--c-primary-500);
}
.tile .content .back {
	background: var(--c-primary-500);
	color: var(--c-secondary-500);
	transform: rotateY(180deg);
}
